
    <section class="main-section" ng-submit="editMusic()">


      <div class="large-12 column panel">
        <div class="row">
          <div class="large-12 columdepartments panel ">
            <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.index">All Music</a> | <a ui-sref="base.newMusic">Add music</a>
              </div>
              <div class="large-9 left category"> Music</div>
          </div>
          </div>
        </div>



      <form>
          <div class="row">
            <div class="large-12 columns">
              <label>Title music
                  <input type="text" ng-model="music.title" ng-value='oneMusic.music.title' name="" class="text" id="title" placeholder="Music Title Here"></input>
              </label>
            </div>

          </div>
          <div class="row">
            <div class="large-4 columns">
              <label class="formname">idPerformer song</label>
              <select ng-model="music.performer">
                	<option  ng-repeat="performerListSelect in performerListSelects.performer" value="{{performerListSelect._id}}">{{performerListSelect.title}}</option>
            </select>
            </div>
            <div class="large-4 columns">
              <label class="formname">IdGenre song</label>
              <select ng-model="music.genre">
                	<option  ng-repeat="genreListSelect in genreListSelects.genre" value="{{genreListSelect._id}}">{{genreListSelect.title}}</option>
            </select>
            </div>
            <div class="large-4 columns">
              <label class="formname">idAlbums song</label>
              <select ng-model="music.albums">
                  <option  ng-repeat="albumsListSelect in albumsListSelects.albums" value="{{albumsListSelect._id}}">{{albumsListSelect.title}}</option>
            </select>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Pick img music
                <input type="file" size="30"  ngf-select ng-model="picFile" name="fileimg"
    accept="*" ngf-max-size="100MB">
              </label>
            </div>
            <div class="large-6 columns">
              <label>Pick img music
                <input type="file" size="30"  ngf-select ng-model="picFileImg" name="fileimg"
    accept="*" ngf-max-size="100MB">
              </label>
            </div>
          </div>



          <div class="row">
            <div class="large-6 columns">
              <label class="formname">Pick date</label>
              <input type="date" name="" ng-model="music.date" ng-value='oneMusic.music.date' id="date" placeholder="Music date Here">
            <div class="large-6 columns">
              <input id="checkbox1" type="checkbox" ng-model="music.visible" name="visible"><label for="checkbox1">Visible</label>

            </div>
          </div>
        </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Description
                <textarea placeholder="Description music" ng-value='oneMusic.music.description' ng-model="music.desctiption"></textarea>
              </label>
            </div>
            <a role="button"  class="button " ng-click="updateMusic(picFile,picFileImg)" value="Save" >Save</a>
            <a role="button" href="#" class="button " value="Reset">Reset</a>
          </div>
          {{picFile.name}}
          {{picFileImg.name}}

                        <i ng-show="myForm.file.$error.maxSize">File too large
                          {{picFile.size / 100000000|number:2}}MB: max 2M</i>



                          <div class="progress small-# large-# secondary alert success radius round" ng-show="picFile.progress >= 0">
                            <span align="center" class="meter" style="width:{{picFile.progress}}%; background: green; color:#ffffff" ng-bind="picFile.progress + '%'"></span>
                          </div>

                          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                          <i ng-show="myForm.file.$error.maxSize">File too large
                            {{picFileImg.size / 100000000|number:2}}MB: max 2M</i>



                            <div class="progress small-# large-# secondary alert success radius round" ng-show="picFileImg.progress >= 0">
                              <span align="center" class="meter" style="width:{{picFileImg.progress}}%; background: green; color:#ffffff" ng-bind="picFileImg.progress + '%'"></span>
                            </div>

                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </form>


      </div>
    </section>
