<section class="main-section">
      <div class="large-12 column panel">
        <div class="row">
              <div class="large-3 right">
                <a ui-sref="base.viewAllProfile">All user</a> | <a ui-sref="base.newProfile">Add user</a>
              </div>
              <div class="large-9 left category"> User</div>
          </div>
          </div>
        </div>

<div class="row">
          <div class="large-12 column ">
            <h3>Details for {{viewProfile.user.name}}</h3>
            <div class="row">
                      <div class="large-12 columns" >
                        <img class="img-content-view" ng-src="images/users/{{viewProfile.user.img}}">
                        <div class="panel">
                          <h5>{{viewProfile.user.name}}</h5>
                        </div>
                      </div>
            </div>
            <div class="row">
              <div class="large-8 right  panel" >
                <div>User name</div>
                <div>User email</div>
                <!-- <div>User password</div> -->
              </div>
              <div class="large-4 left category panel">
                <div>{{viewProfile.user.name}}</div>
                <div>{{viewProfile.user.email}}</div>
                <!-- <div>{{viewProfile.user.password}}</div> -->
              </div>
          </div>
          <a role="button" class="button" ui-sref="base.editProfile({id:viewProfile._id})" >Edit</a>
        </div>
</div>
</section>
